---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Theme skin
@import "basically-basic/themes/{{ site.data.theme.skin | default: 'default' }}";

@import "basically-basic";

// MA: To keep left menu open; used in _layout.html.
.sidebar {
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.sidebar-open .sidebar {
  transform: translateX(0);
}

.sidebar {
  width: 260px; // or whatever you prefer
}
.main {
  margin-left: 260px;
}
